.leaflet-container {
    /* background-color: white; */
    /* background-color: rgb(178, 210, 222); */
    background-color: rgb(163, 206, 255);

  }

  
  /* .province-label {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
  }
   */