@tailwind base;
@tailwind components;
@tailwind utilities;


/* Di file CSS Anda */
@media (max-width: 390px) {
    .image-beras {
      max-width: 390px;
      width: 340px;
    }

    .header-beras{
        max-width: 390;
        font-size: 23px;
    }
}
  

